body
{
    background-color: white;
    font-family: 微软雅黑;
    height: 100%;
    margin: auto;
}
.sence
{
    background-color: #363636;
    height:40px;
}
div.picture
{
    border: solid 1px;
    margin: 20px 20px;
    width: 50px;
    height: 290px;
    background: white;
}
.cute
{
    text-align: center;
    line-height: 60px;
}
.cat
{
    background-color: #2d6987;
    text-align: center;
    line-height: 60px;
}
.dog
{
    text-align: center;
}