body{
    padding: 20px;
    font-family: "微软雅黑";
    font-size: 20px;
}
h2{
    margin: 0px;
}
.cute
{
    float: left;
    padding: 20px;
    width: 160px;
    background: #fff;
    border:1px solid #999;
}
.pic
{
    float: left;
}
.matter
{
    margin: 0 auto;
    padding: 20px;
    background: #eee;
    border: 1px solid #999;
    overflow: auto;
    min-width: 20px;
}
.name
{
    width: 180px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
.picture
{
    float: right;
    padding: 20px;
    width: 120px;
    background: #fff;
    border: 1px solid #999;
}
.high
{
    padding: 20px;
    margin-left: 220px;
    margin-right: 140px;
    background: #fff;
    border: 1px solid #999;
}